@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    height: 100%;
    box-sizing: border-box;
    background-color: #FBFBFD;
}

.titulo-destaque {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #091133;
    font-weight: 500;
}