@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
    box-sizing: border-box;
    background-color: #FBFBFD;
    overflow: hidden;
}

.titulo-destaque {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    color: #091133;
}

.conteudo-destaque {
    font-size: 16px;
    font-weight: 400;
    color: #6F7CB2;
    margin-top: 16px;
    line-height: 26px;
}

.main-content {
    display: flex;
}

.main-content img {
    width: 30%;
}

.main-content section {
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 125px;
    padding-right: 125px;
    width: 70%;
}

.content-group {
    display: flex;
    flex-direction: row;
    padding-top: 60px;
}

.content-group h1 {
    font-size: 16px;
    color: #091133;
}

.content-group p {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: #6F7CB2;
    margin-top: 6px;
}

.content-group img {
    width: 36px;
    margin-bottom: 14px;
}

.mr-group {
    margin-right: 25px;
}